<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Mentalhealthcoaching.com, <%= params[:user].name %></h1>
    <p>
      You have successfully signed up to Mentalhealthcoaching.com,
      click the link above if you recognise the activity, link expires in 15 minutes.<br>
      <%= link_to 'Verify email', sign_up_user_verification_url(token: @token) %>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
