<div class="container">

  <div class="mail-icon">
    <i class="bi bi-envelope-open"></i>
  </div>
  <h4 class="wait-title">Check your e-mail</h4>
  <p class="help-text">We have sent a password recover instructions to your e-mail</p>
  <% if @coach %>
    <p class="help-text"><strong><%= @coach.email %></strong></p>
  <% end %>

  <br>
  <p class="lb"></p>
  <br>
  <br>
  <p class="verify-text">Did not receive the e-mail? Check your spam filter or</p>

  <p class="verify-text"><strong><%= link_to 'resend', resend_coach_path, class: "resend-link" %></strong></p>
</div>
