<footer class="d-flex flex-wrap justify-content-between">
  <p class="col-md-3 mb-4">&copy;2021 All rights reserved</p>

  <ul class="nav col-md-4 justify-content-center">
    <li class="nav-item"><a>Terms</a></li>
    <li class="nav-item"><a>Privacy</a></li>
    <li class="nav-item"><a>Security</a></li>
  </ul>
  
</footer>